body,*:after,*:before {
    box-sizing: border-box;
    background-image: url("images/js-bg.jpg");
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    color: #c78100;
}

ul {
    list-style:none;
}

header,footer {
    position: relative;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 5px;
    background-color: rgb(0, 0, 0,0.8);
    margin-top: -1vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
    height: 9vh;
    width: 100%;
    text-align: center;
    font-family: 'Alike', serif;
    backdrop-filter: blur(4px);
    font-size: calc(8px + 0.9vw);
}

h1 {
    font-size: calc(10px + 2.0vw);
}

h2 {
    font-size: calc(10px + 1.5vw);
}

main {
    border: 1px rgb(0,0,0) solid;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.8);
    margin-top: 5vh;
    margin-bottom: 9vh;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 65vh; 
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: justify;
    font-family: 'Kadwa', serif;
    backdrop-filter: blur(4px);
    line-height: 1.5;
    
}

.img-border {
    border-radius: 5px;
}
.heading-img {
    position: absolute;
    left: -2px;
    height: 100%;
    width:20%;
    top: 0px;
}

.main-heading {
    text-align: center;
    font-size: calc(8px + 0.9vw);
    margin-top: -5px;
}

.quiz-img {
    margin: 50px auto 30px auto;
}

.right-answer-img {
    margin: 0.5vh auto;
}

.user-ctrl-btn {
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(198, 129, 0);
    width: 12vw;
    height: 5vh;
    font-size: calc(6px + 0.7vw);
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-ctrl-btn:hover {
    box-shadow: 0 5px 15px 5px rgba(145, 92, 182, .4);
}

.intro-box {
    margin: auto;
    text-align: center;
}

.question {
    font-size: calc(10px + 1.3vw);
    padding-top: 40px;
}

.options {
    font-size: calc(10px + 1.0vw);
    line-height: 2;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.qtn-answer, .restart-quiz {
    text-align: center;
}

.footer-list {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center;
    flex: 0 0 30%;
}

.footer-list li {
    align-self: center;
}


@media screen and (max-width:920px) and (min-width: 481px) and (orientation: potrait) {
    body {
        display: flex;
        flex-direction: column;
    }

    .qtn-answer,.restart-quiz{
        padding-top: 15vh;
    }

    .user-ctrl-btn {
        margin: 10vh;
    }


}

@media screen and (max-width:480px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .heading-img {
        display: none;
    }

    .footer-list {
        flex-direction: column;
    }

    .intro-box,.qtn-answer,.restart-quiz {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly
    }

    .quiz-img {
        width: 60%;
    }
  
}
