body {
    box-sizing: border-box;
    margin: -1px;
    margin-left: auto;
    margin-right: auto;
}

header,footer{ 
    border: 1px darkslategrey solid;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:20px;
    height: 70px;
}

h1 {
    text-align: center;
}

main {
    border: 1px darkslategrey solid;
    background-color: gray;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 400px; 
    text-align: center;

}

.data-cont,.options,.answer-btn {
    margin-top: 40px;
    margin-bottom: 10px;
    border: 1px darkslategrey dotted; 
    height: 100px;
}

.options {
    height: 100px;
}

nav {
    /*position: absolute;*/
    /*display: inline-block;*/
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: gray;
}
nav ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
nav li {
   display: inline-block; 
   width: 22%;
   text-align: center;
}

.questionNo-score {
    text-align: center;
}

div {
    height: 300px;
}

.answer-btn {
    padding: 10px;
}
